@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;

}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-globe {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}


/* footer  */
.f-info-links,
.f-info-socials,
.f-info-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* copyright text */
.f-info-brand {
    font-size: 0.95rem;
}

.f-info-socials i {
    font-size: 1.4rem;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}


.f-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 0;
    background-color: #d8e2dc;
    gap: 0.6rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
    font-size: 0.95rem;
}

.f-info-links a:hover {

    text-decoration: underline;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 20px !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    color: black;
}

.listing-link {
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;

}

.item {
    background-color: #d8e2dc;
    padding: 10px;
    font-weight: 600;
}

/* show page  */
.show-img {
    height: 30vh;
}

.show-btns {
    display: flex;
}