

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    
  
  font-family: 'Plus Jakarta Sans', sans-serif !important;

    background-color: rgb(255, 255, 255) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;

}
.add-btn{
    background-color: red !important;
    border: none !important;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-globe {
    color: red;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}


/* footer  */

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 8rem;
    background-color: #d8e2dc;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}


/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 20px !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    color: black;
}


.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}





.item {
    background-color: #d8e2dc;
    padding: 10px;
    font-weight: 600;
}




/* show page  */
.show-img{
    height: 30vh;
}

.show-btns{
    display: flex;
}